<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{settings:business_name}}</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="padding: 0;">
<div id="wrapper" dir="ltr" style="background-color: #f7f7f7; margin: 0; padding: 70px 0; width: 100%; -webkit-text-size-adjust: none;">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                    <tr>
                        <td align="center" valign="top">
                            <img src="'{{settings:logo}}" alt="Logo">
                            <h3 style="color:#666666">Nuevo mensaje</h3>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <!-- Body -->
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_body">
                                <tr>
                                    <td valign="top" id="body_content" style="background-color: #ffffff;">
                                        
                                        <!-- Content -->
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%"><tr>
                                            <td valign="top" style="padding: 48px 48px 32px;">
                                                <div id="body_content_inner" style="color: #636363; font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; font-size: 14px; line-height: 150%; text-align: left;">
                                                    <p style="margin: 0 0 16px;">{{content}}</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="body_content_inner" style="color: #636363; font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; font-size: 14px; line-height: 150%; text-align: center;">
                                                                            <p style="margin: 0 0 16px;text-align: center;">Este mensaje ha sido enviado de forma automática desde el formulario de contacto "Isacura Asociados.</p>
                                                                        </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- End Content -->

                                </td>
                            </tr></table>
                            <!-- End Body -->
                        </td>
                    </tr>
                    
                </table>
            </td>
        </tr>
    </table>
</div>
{{@include:sign}}
</body>
</html>